body {
    background-color: green;
}

.bigbox {
    display: flexbox;
    width:1400px;
    height: 700px;
    border: none;
    
}

.definitionbox{
    width:1400px;
    height: 700px;
    border: none;
    background-image: url(images/scrapbook\ inside.png);
    background-repeat: no-repeat;
    background-size:1000px;
    margin-left: 250px;
}


.main11box{
    display: absolute;
    width: 600px;
    height: 650px;
    border: 1px #888833 solid;
    margin-left: 200px;
}

iframe.mainbox {
    display: flexbox;
    width: 600px;
    height: 650px;
    padding: 110px;
    margin-left: 75px;
}

.homecontainer{
    display: flexbox;
    width:1400px;
    height: 700px;
    border: none;
    background-image: url(images/scrapbook\ inside.png);
    background-repeat: no-repeat;
    background-size:1000px;
    margin-left: 250px;
}
